on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - "*.md"

env:
  HIYOCORD_NEXUS_KV_ID: ${{ vars.HIYOCORD_NEXUS_KV_ID }}
  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com
      - uses: actions/cache@v5
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - run: npm install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: build
        run: npm run build
      - uses: actions/cache/save@v5
        with:
          path: packages/**/dist
          key: dist-${{ github.sha }}

  # test:
  #   needs:
  #     - build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v6
  #     - uses: actions/setup-node@v6
  #       with:
  #         node-version: 22
  #     - uses: actions/cache@v5
  #       with:
  #         path: "node_modules"
  #         key: node_modules-${{ hashFiles('package-lock.json') }}
  #     - uses: actions/cache/restore@v5
  #       with:
  #         path: packages/**/dist
  #         key: dist-${{ github.sha }}
  #     - name: test
  #       run: npm run test

  deploy:
    needs:
      - build
    runs-on: ubuntu-latest
    if: github.ref_name == github.event.repository.default_branch
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - uses: actions/cache@v5
        with:
          path: "node_modules"
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - uses: actions/cache/restore@v5
        with:
          path: packages/**/dist
          key: dist-${{ github.sha }}
      - name: deploy
        run: npm run deploy

      - name: settings-secret
        run: |
          worker_name=$(jq -r ".name"  <(tail -n +3 packages/hiyocord-nexus/wrangler.jsonc))
          npx wrangler secret list --name ${worker_name} | jq '.[] | if .name == "NEXUS_PUBLIC_KEY" then halt_error(1) else empty end' && {
            npx tsx scripts/generate-keypair.ts 2> /dev/null > secrets
            jq -jr ".private_key" secrets | npx wrangler secret --name ${worker_name} put NEXUS_PRIVATE_KEY
            jq -jr ".public_key" secrets | npx wrangler secret --name ${worker_name} put NEXUS_PUBLIC_KEY
            jq -jr ".algorithm" secrets | npx wrangler secret --name ${worker_name} put NEXUS_SIGNATURE_ALGORITHM
          } || true

  publish:
    needs:
      - build
    runs-on: ubuntu-latest
    if: github.ref_name == github.event.repository.default_branch
    permissions:
      packages: write
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/cache@v5
        with:
          path: "node_modules"
          key: node_modules-${{ hashFiles('package-lock.json') }}
      - uses: actions/cache/restore@v5
        with:
          path: packages/**/dist
          key: dist-${{ github.sha }}

      - uses: changesets/action@v1
        with:
          publish: npx changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
